@keyframes moveFocus {
    0% {
        background-position: 0% 100%
    }
    100% {
        background-position: 100% 0%
    }
}

body {
    background: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

button {
    margin: 0;
    padding: 0.7rem 1.4rem;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: inherit;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 0.7em;
    background-color: rgba(174, 184, 192, 0.55);
    color: rgb(81, 81, 90);
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background 350ms ease-in-out, transform 150ms ease;
}

button:hover {
    background-color: #ffffff;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    box-shadow: 0 0 2px 2px #298bcf;
}

button::-moz-focus-inner {
    border: 0;
}

.example-elements {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-right: 4%;
}

.example-elements p {
    padding: 6px;
    display: inline-block;
    margin-bottom: 5%;
    color: #fff;
}

.example-elements p:hover {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-left: 5px;
    padding-right: 5px;
}

.example-elements a {
    margin-left: 6px;
    margin-bottom: calc(5% + 10px);
    color: #76daff;
    text-decoration: none;
}

.example-elements a:hover {
    margin-bottom: calc(5% + 9px);
    border-bottom: 1px solid #76daff;
}

.example-elements button {
    margin-bottom: 20px;
}

.info-wrapper {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: 6%;
    border-left: 3px solid #35ea95;
}

.info-wrapper p {
    color: rgba(255, 255, 255, 0.69);
}

.info-wrapper p {
    max-width: 600px;
    text-align: justify;
}

.info-wrapper .title-question {
    display: block;
    color: #fff;
    font-size: 1.36em;
    font-weight: 500;
    padding-bottom: 24px;
}

@media (max-height: 450px) {
    main {
        margin: 2rem 0;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 0.9em;
    }
}


/* Thumbnail settings */

@media (max-width: 750px) {
    html {
        animation-duration: 0.6s;
        font-size: 1em;
    }
    body {
        display: flex;
        background: none;
        height: 100%;
        margin: 0px;
    }
    main {
        font-size: 1.1em;
        padding: 6%;
    }
    .info-wrapper p:before,
    .info-wrapper p:after {
        display: none;
    }
    .example-elements {
        max-width: 150px;
        font-size: 22px;
    }
    .example-elements a,
    button {
        display: none;
    }
    .example-elements p:before,
    .example-elements p:after {
        visibility: visible;
        opacity: 1;
    }
    .example-elements p:before {
        content: "Tooltip";
        font-size: 20px;
        transform: translate(-50%, -5px) scale(1);
    }
    .example-elements p:after {
        transform: translate(-50%, -1px) scaleY(1);
    }
    [data-tooltip]:after {
        bottom: calc(100% + 3px);
    }
    [data-tooltip]:after {
        border-width: 7px 7px 0px 7px;
    }
}